alps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation source="https://alps.io/spec/index.html">
            A data format for defining simple descriptions of application-level semantics
        </xs:documentation>
        <xs:appinfo source="https://alps.io/spec/index.html"/>
    </xs:annotation>
    <xs:element name="alps" type="alpsType"/>
    <xs:complexType name="alpsType">
        <xs:annotation>
            <xs:documentation>
                A data format for defining simple descriptions of application-level semantics
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="doc" minOccurs="0"/>
                <xs:element ref="link" minOccurs="0"/>
                <xs:element ref="title" minOccurs="0"/>
                <xs:element ref="ext" minOccurs="0"/>
                <xs:element ref="descriptor"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string">
            <xs:annotation>
                <xs:documentation> Indicates the version of the ALPS specification used in the document. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:element name="version" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                Indicates the version of the ALPS specification used in the document.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="doc" type="docType">
        <xs:annotation>
            <xs:documentation>
                A text field that contains free-form, usually human-readable, text.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="title" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                Defines the semantics of specific data elements or state transitions that MAY exist in an associated
                representation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="descriptor" type="descriptorType">
        <xs:annotation>
            <xs:documentation>
                Defines the semantics of specific data elements or state transitions that MAY exist in an associated
                representation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="link" type="linkType">
        <xs:annotation>
            <xs:documentation>
                An element that identifies a link between the current ALPS element
                and some other (possibly external) resource.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ext" type="extType">
        <xs:annotation>
            <xs:documentation>
                The 'ext' element can be used to extend the ALPS document with author-specific information.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="contentType" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                A media-type values registered with the IANA.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="descriptorType" mixed="true">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="descriptor" type="descriptorType" minOccurs="0"/>
                <xs:element name="doc" type="docType" minOccurs="0"/>
                <xs:element name="link" type="linkType" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
        <!-- documented attribute -->
        <xs:attribute name="href" type="xs:anyURI"/>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="type">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="semantic"/>
                    <xs:enumeration value="safe"/>
                    <xs:enumeration value="unsafe"/>
                    <xs:enumeration value="idempotent"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="doc" type="xs:string"/>
        <xs:attribute name="ext" type="xs:string"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="rt" type="rtType"/>
        <xs:attribute name="def" type="xs:anyURI"/>
        <xs:attribute name="tag" type="xs:string"/>
        <xs:attribute name="rel" type="relType"/>
        <xs:anyAttribute/>
    </xs:complexType>
    <xs:complexType name="extType">
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    `ext` element extends the ALPS document with author-specific information.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="href" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="tag" type="xs:string"/>
        <xs:anyAttribute/>
    </xs:complexType>
    <xs:complexType name="linkType">
        <xs:attribute name="rel" type="xs:string"/>
        <xs:attribute name="href" type="xs:anyURI"/>
        <xs:attribute name="tag" type="xs:string"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:anyAttribute/>
    </xs:complexType>
    <xs:complexType name="docType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="format">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="text"/>
                            <xs:enumeration value="html"/>
                            <xs:enumeration value="asciidoc"/>
                            <xs:enumeration value="markdown"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="contentType" type="xs:string" />
                <xs:attribute name="tag" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="rtType">
        <xs:restriction base="xs:string">
            <xs:pattern value=".*#.*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="relType">
        <xs:union memberTypes="predefinedRelType strictUriType"/>
    </xs:simpleType>
    <xs:simpleType name="predefinedRelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="about"/>
            <xs:enumeration value="acl"/>
            <xs:enumeration value="alternate"/>
            <xs:enumeration value="amphtml"/>
            <xs:enumeration value="appendix"/>
            <xs:enumeration value="apple-touch-icon"/>
            <xs:enumeration value="apple-touch-startup-image"/>
            <xs:enumeration value="archives"/>
            <xs:enumeration value="author"/>
            <xs:enumeration value="blocked-by"/>
            <xs:enumeration value="bookmark"/>
            <xs:enumeration value="c2pa-manifest"/>
            <xs:enumeration value="canonical"/>
            <xs:enumeration value="chapter"/>
            <xs:enumeration value="cite-as"/>
            <xs:enumeration value="collection"/>
            <xs:enumeration value="compression-dictionary"/>
            <xs:enumeration value="contents"/>
            <xs:enumeration value="convertedfrom"/>
            <xs:enumeration value="copyright"/>
            <xs:enumeration value="create-form"/>
            <xs:enumeration value="current"/>
            <xs:enumeration value="describedby"/>
            <xs:enumeration value="describes"/>
            <xs:enumeration value="disclosure"/>
            <xs:enumeration value="dns-prefetch"/>
            <xs:enumeration value="duplicate"/>
            <xs:enumeration value="edit"/>
            <xs:enumeration value="edit-form"/>
            <xs:enumeration value="edit-media"/>
            <xs:enumeration value="enclosure"/>
            <xs:enumeration value="external"/>
            <xs:enumeration value="first"/>
            <xs:enumeration value="glossary"/>
            <xs:enumeration value="help"/>
            <xs:enumeration value="hosts"/>
            <xs:enumeration value="hub"/>
            <xs:enumeration value="ice-server"/>
            <xs:enumeration value="icon"/>
            <xs:enumeration value="index"/>
            <xs:enumeration value="intervalafter"/>
            <xs:enumeration value="intervalbefore"/>
            <xs:enumeration value="intervalcontains"/>
            <xs:enumeration value="intervaldisjoint"/>
            <xs:enumeration value="intervalduring"/>
            <xs:enumeration value="intervalequals"/>
            <xs:enumeration value="intervalfinishedby"/>
            <xs:enumeration value="intervalfinishes"/>
            <xs:enumeration value="intervalin"/>
            <xs:enumeration value="intervalmeets"/>
            <xs:enumeration value="intervalmetby"/>
            <xs:enumeration value="intervaloverlappedby"/>
            <xs:enumeration value="intervaloverlaps"/>
            <xs:enumeration value="intervalstartedby"/>
            <xs:enumeration value="intervalstarts"/>
            <xs:enumeration value="item"/>
            <xs:enumeration value="last"/>
            <xs:enumeration value="latest-version"/>
            <xs:enumeration value="license"/>
            <xs:enumeration value="linkset"/>
            <xs:enumeration value="lrdd"/>
            <xs:enumeration value="manifest"/>
            <xs:enumeration value="mask-icon"/>
            <xs:enumeration value="me"/>
            <xs:enumeration value="media-feed"/>
            <xs:enumeration value="memento"/>
            <xs:enumeration value="micropub"/>
            <xs:enumeration value="modulepreload"/>
            <xs:enumeration value="monitor"/>
            <xs:enumeration value="monitor-group"/>
            <xs:enumeration value="next"/>
            <xs:enumeration value="next-archive"/>
            <xs:enumeration value="nofollow"/>
            <xs:enumeration value="noopener"/>
            <xs:enumeration value="noreferrer"/>
            <xs:enumeration value="opener"/>
            <xs:enumeration value="openid2.local_id"/>
            <xs:enumeration value="openid2.provider"/>
            <xs:enumeration value="original"/>
            <xs:enumeration value="p3pv1"/>
            <xs:enumeration value="payment"/>
            <xs:enumeration value="pingback"/>
            <xs:enumeration value="preconnect"/>
            <xs:enumeration value="predecessor-version"/>
            <xs:enumeration value="prefetch"/>
            <xs:enumeration value="preload"/>
            <xs:enumeration value="prerender"/>
            <xs:enumeration value="prev"/>
            <xs:enumeration value="prev-archive"/>
            <xs:enumeration value="preview"/>
            <xs:enumeration value="previous"/>
            <xs:enumeration value="privacy-policy"/>
            <xs:enumeration value="profile"/>
            <xs:enumeration value="publication"/>
            <xs:enumeration value="related"/>
            <xs:enumeration value="replies"/>
            <xs:enumeration value="restconf"/>
            <xs:enumeration value="ruleinput"/>
            <xs:enumeration value="search"/>
            <xs:enumeration value="section"/>
            <xs:enumeration value="self"/>
            <xs:enumeration value="service"/>
            <xs:enumeration value="service-desc"/>
            <xs:enumeration value="service-doc"/>
            <xs:enumeration value="service-meta"/>
            <xs:enumeration value="sip-trunking-capability"/>
            <xs:enumeration value="sponsored"/>
            <xs:enumeration value="start"/>
            <xs:enumeration value="status"/>
            <xs:enumeration value="stylesheet"/>
            <xs:enumeration value="subsection"/>
            <xs:enumeration value="successor-version"/>
            <xs:enumeration value="sunset"/>
            <xs:enumeration value="tag"/>
            <xs:enumeration value="terms-of-service"/>
            <xs:enumeration value="timegate"/>
            <xs:enumeration value="timemap"/>
            <xs:enumeration value="type"/>
            <xs:enumeration value="ugc"/>
            <xs:enumeration value="up"/>
            <xs:enumeration value="version-history"/>
            <xs:enumeration value="via"/>
            <xs:enumeration value="webmention"/>
            <xs:enumeration value="working-copy"/>
            <xs:enumeration value="working-copy-of"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="strictUriType">
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="https?://.*"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
